* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {


  /* fonts */
  --text-xs: 1.2rem;
  --text-sm: 1.4rem;
  --text-base: 1.6rem;
  --text-lg: 1.8rem;
  --text-xl: 2rem;
  --text-2xl: 2.4rem;
  --text-3xl: 2.8rem;

  /* weight */
  --ligth-wgt: 300;
  --normal: 400;
  --semibold: 500;
  --bold: 700;

  /* colors */
  --color-primary: rgb(70,70,255);

}











