/* You can add global styles to this file, and also import other style files */
@import url('./styles/reset.css');
@import url('./styles/base.css');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


body {
  font-family: 'Roboto', sans-serif;
  font-size: var(--text-base);
  font-weight: 400;
  max-width: 128rem;
  margin: 0 auto;
  min-height: 100vh;
  padding: 0 1rem;
}

@media screen and (min-width: 1024px) {

  body {
    padding: 0;
  }

}


